body{
	background-color: #76D7C4;
}
#wrapper{
	width: 90%;
	height: 600px;
	margin: 0 auto;
	background-image: url("images/'02d6c8cf.png'");
}
.head{
	height: 50px;
	background-color: #8E44AD;
	text-align: center;
}
td, th{
	border: 2px solid black;
	padding: 50px;
	text-align: center;
	color: white;
	float: left:
}
h3{
	color: white;
}
.skills{
	width: 15%;
	float: left;
	background-image: url("images/'f90f7df2.png'");
	height: 550px;
}
h2{
	text-align: center;
}